.game-title{
  color:black;
  width:20%;
  margin-left:40%;
  text-align: center;
  box-sizing: border-box;
}


.buttons-wrapper{
width:auto;
height:5vh;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
}
.grid{
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
  box-sizing: border-box;
}


.cell{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: -1px; 
  margin-bottom: -1px; 
  border: 1px solid rgb(168, 160, 154);
  box-sizing: border-box;
}
.cell:hover{
  background:rgb(218, 151, 64);
}
.off{
background:rgb(239, 245, 239);
}
.on{
  background:rgb(228, 133, 9);
}


.all-buttons{
  background:rgb(235, 238, 240);
  width: 20%;
  height: 100%;
  border:2px, solid, darkgray;
  box-sizing: border-box;
  border-radius:5px;
}
.generation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:black;
  box-sizing: border-box;
}
.section{
  background: whitesmoke;
  padding-left:6px;
  padding-right: 3px;
  border-radius:5px;
}